<div class="card mb-3 shadow-lg">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="form-group">
        <label>Amount</label>
        <input type="number" class="mb-1 mr-sm-2 form-control" [formControl]="input" />
      </div>
      <div class="form-group align-self-end">
        <label>From</label>
        <select class="mb-1 form-control" [formControl]="inputCurrency">
          <option><i class="fas fa-wifi"></i>CAD</option>
          <option>GBP</option>
          <option>EUR</option>
          <option>SGD</option>
          <option>USD</option>
        </select>
        <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="s"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mx-2 d-flex align-items-center"><img class="rounded mr-1" src="./assets/cad.png" />
            CAD
          </span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center" *ngFor="let cur of currencies">
              <img class="rounded mr-3" src="./assets/{{cur.currencyCode}}.png" />
              <span>{{ cur.currencyCode }} - {{ cur.description }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group align-self-center">
        <span class="mx-sm-3">→</span>
      </div>
      <div>
        <div class="form-group align-self-end">
          <label>To</label>
          <select class="mb-1 form-control" [formControl]="targetCurrency">
            <option>CAD</option>
            <option>GBP</option>
            <option>EUR</option>
            <option>SGD</option>
            <option>USD</option>
          </select>
        </div>
      </div>
    </div>

    <div class="py-2 text-center">
      {{ input.value | currency : inputCurrency.value }} equals to
      <div class="display-2" *ngIf="result$ | async as result">
        {{ result.value | currency : result.currencyCode }}
      </div>
      <div>
      </div>
    </div>
  </div>
</div>