<div class="container my-3">
  <div class="form-inline">
    <div class="form-group">
      <input type="number" class="mb-1 mr-sm-2 form-control" [formControl]="input" />
      <select class="mb-1 form-control" [formControl]="inputCurrency">
        <option>CAD</option>
        <option>GBP</option>
        <option>EUR</option>
        <option>SGD</option>
        <option>USD</option>
      </select>
      <span class="mx-sm-3">→</span>
      <select class="mb-1 form-control" [formControl]="targetCurrency">
        <option>CAD</option>
        <option>GBP</option>
        <option>EUR</option>
        <option>SGD</option>
        <option>USD</option>
      </select>
    </div>
  </div>

  <div class="py-2">
    {{ input.value | currency : inputCurrency.value }} is equals to
    <div style="font-size: xx-large" *ngIf="result$ | async as result">
      {{ result | currency : targetCurrency.value }}
    </div>
  </div>
</div>